* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Itim", cursive;
  /* color: #fff; */
}

ul,ol {
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
}

a {
  text-decoration-line: none;
}

.container {
  width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}

header{
  /* position: sticky;
  top: 0; */
    background-image: url(./images/blue-aesthetic-3480x2160-16827.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}







.img{
    background-image: url(./images/blue-aesthetic-3480x2160-16827.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1,199px;
    height: 672px;
}

.img-text-king{
    padding-top: 200px;
}
.hero-link{
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    padding: 5px 5px;
}

.nav-item{
  
  text-align: end;
 
  
  a{
    color: #000;
  }
}

.naw{
  background-color: aqua;
}



.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main{
  text-align: center;

}

.family-list {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.family-item {
  display: flex;
  column-gap: 40px;
  align-items: center;

}

.family-item:nth-child(2n) {
  flex-direction: row-reverse;
}


.img-hero{
    display: flex;
    color: #fff;
    justify-content: center;
}

.new-link{
    color: #fff;
    background-color: #837272;
    border-radius: 15px;
    padding: 5px 5px;
    transition: all 0.9s ;
}

.ishlar{
  
  background-image: url(./images/Rectangle\ 42.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  text-align: center;

}




.card-loyixa{
  display: flex;
  gap: 50px;

}


.cards-loyiha{
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 40px;
}


.card-text{
  color: #000;
  text-align: center;
}

footer{
  background-image: url(./images/HD\ Blue\ Cgi\ Hexagon\ Wallpaper\ Background\ Image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text-king{
  position: relative;
}

.hero-text{
  position: absolute;
  right: 350px;
  top: 70px;
  
}

.new-link:hover{
  transform: scale(1.1);
  background-color: rgb(0, 98, 98);
  box-shadow: 5px 3px 5px 3px #888888;

}

.footer-xaqida{
  color: #fff;
}

.footer-silka{
  color: #fff;
}

.nav-list{
  
  display: flex;

  gap: 26px;
  
}

.nav-link{
  color: #fff;
  font-size: 50px;
}

.loyihalarim{
  /* padding-bottom: 300px; */
  font-size: 90px;
  color: #fff;
  text-align: center;
  align-items: center;
}

.saytler-qismi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sayt-qismlari{
  background-color: rgb(57, 127, 219);
  border-radius: 15px;
  padding: 15px 15px;
  margin-bottom: 60px;
  a{
    color: #000;
    text-align: center;
  }
}

.saytlar-boshi{
  text-align: center;
}

.footer-xaqida{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-link2{
  position: relative;
  /* position: absolute; */
  display: flex;
  a{
    color: #fff;
  }
}

.footer-links{
  top: 30px;
  gap: 30px;
  /* padding: 0 0; */
  font-size: 30px;
  display: flex;
  position: absolute;
}

.new{
  margin-bottom: 50px;
}

.saytlar-bolimi{
  background-color: aqua;
}

.loyihalarni-korish{


  position: absolute;
  bottom: 10px;
  right: 700px
  

}



.card-loyixa{
  padding-bottom: 80px;
}

.ishlar{
  position: relative;
}

/* From Uiverse.io by Li-Deheng */ 
.button {
  --main-size: 2em;
  --color-text: #ffffff;
  --color-background: #3a58a4;
  --color-background-hover: #266497;
  --color-outline: #6efdff40;
  --color-shadow: #00000040;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: calc(var(--main-size) * 100);
  padding: 0.33em 0 0.33em 0.66em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--main-size);
  color: var(--color-text);
  background: var(--color-background);
  box-shadow: 0 0 0.2em 0 var(--color-background);
  transition: 1s;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 1em 0 var(--color-background);
  animation:
    ripple 1s linear infinite,
    colorize 1s infinite;
  transition: 0.5s;
}

.button span {
  margin-right: 0.3em;
  transition: 0.5s;
}

.button:hover span {
  text-shadow: 5px 5px 5px var(--color-shadow);
}

.button:active span {
  text-shadow: none;
}

.button svg {
  height: 0.8em;
  fill: var(--color-text);
  margin-right: -0.16em;
  position: relative;
  transition: 0.5s;
}

.button:hover svg {
  margin-right: 0.66em;
  transition: 0.5s;
  filter: drop-shadow(5px 5px 2.5px var(--color-shadow));
}

.button:active svg {
  filter: none;
}

.button svg polygon:nth-child(1) {
  transition: 0.4s;
  transform: translateX(-60%);
}

.button svg polygon:nth-child(2) {
  transition: 0.5s;
  transform: translateX(-30%);
}

.button:hover svg polygon:nth-child(1) {
  transform: translateX(0%);
  animation: opacity 1s infinite 0.6s;
}

.button:hover svg polygon:nth-child(2) {
  transform: translateX(0%);
  animation: opacity 1s infinite 0.4s;
}

.button:hover svg polygon:nth-child(3) {
  animation: opacity 1s infinite 0.2s;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorize {
  0% {
    background: var(--color-background);
  }
  50% {
    background: var(--color-background-hover);
  }
  100% {
    background: var(--color-background);
  }
}

@keyframes ripple {
  0% {
    outline: 0em solid transparent;
    outline-offset: -0.1em;
  }
  50% {
    outline: 0.2em solid var(--color-outline);
    outline-offset: 0.2em;
  }
  100% {
    outline: 0.4em solid transparent;
    outline-offset: 0.4em;
  }
}

/* From Uiverse.io by mrhyddenn */ 
.btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  color: #fff;
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* From Uiverse.io by StealthWorm */ 
.btna {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
 
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


/* From Uiverse.io by adamgiebl */ 
.btnd{
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

