* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Itim", cursive;
  /* color: #fff; */
}

ul,ol {
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
}

a {
  text-decoration-line: none;
}

.container {
  width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}

header{
    /* position: sticky;
    top: 0; */
    background-image: url(./images/blue-aesthetic-3480x2160-16827.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.site-headers{
    color: #fff;
}

.img{
    background-image: url(./images/menyu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1,199px;
    height: 672px;
}

.img-text-king{
    padding-top: 200px;
}
.hero-link{
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    padding: 5px 5px;
}

.nav-item{
  background-color: #fff;
  text-align: end;
  padding: 5px 10px;  
  border-radius: 15px;
  
  a{
    color: #000;
  }
}

.naw{
  background-color: grey;
}

.nav-item:hover{
  background-color: grey;
}

.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main{
  text-align: center;

}

.family-list {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.family-item {
  display: flex;
  column-gap: 40px;
  align-items: center;

}

.family-item:nth-child(2n) {
  flex-direction: row-reverse;
}


.img-hero{
    display: flex;
    color: #fff;
    justify-content: center;
}

.new-link{
    color: #fff;
    background-color: #837272;
    border-radius: 15px;
    padding: 5px 5px;
}

.ishlar{
  background-image: url(./images/Rectangle\ 42.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.h1{
  color: #fff;
  text-align: center;
}

.card-loyixa{
  display: flex;
  gap: 50px;

}


.cards-loyiha{
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 40px;
}


.card-text{
  color: #000;
  text-align: center;
}

footer{
  background-image: url(./images/HD\ Blue\ Cgi\ Hexagon\ Wallpaper\ Background\ Image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text-king{
  position: relative;
}

.hero-text{
  position: absolute;
  right: 350px;
  top: 70px;
}

.new-link:hover{
  background-color: #bc7d7d;
}

.footer-xaqida{
  color: #fff;
}

.footer-silka{
  color: #fff;
}

.nav-list{
  
  display: flex;

  gap: 26px;
  
}

.nav-link{
  color: #fff;
  font-size: 50px;
}

.men-xaqimda{
    text-align: center;
    

}

.mening-yutuqlarim{
    font-size: 50px;
    font-weight: 20px;
}

.men-organgan-narsalar {
  margin-inline: 20px;
  transition: all 0.5s ;
}

.men-organgan-narsalar:hover{
  transform: scale(1.1);
}

.sovrin-text{
  font-size: 20px;
}

.sovrinlarim{
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  p{
    font-size: 40px;
  }
}

.footer-xaqida{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-link2{
  position: relative;
  /* position: absolute; */
  display: flex;
  a{
    color: #fff;
  }
}

.footer-links{
  top: 30px;
  gap: 30px;
  padding: 0 0;
  font-size: 30px;
  display: flex;
  position: absolute;
}

.ozim-xaqimda-malumot{
  background-color: aqua;
}